<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC227CD81E209F8000EE5CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC227CF11E209F8100EE5CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC227CFC1E209F8100EE5CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
